<h3>Kings - about</h3>
<article class="biography">
    <h4>Choir of King's College, Cambridge
                        <span>Choir</span>
                        </h4>
    <p>The Choir of King’s College, Cambridge is undoubtedly one of the world’s best known choral groups; every Christmas Eve millions of people worldwide tune into A Festival of Nine Lessons and Carols, a service that has been broadcast by the BBC since 1928. In the United States, the service has been broadcast by American Public Media since 1982. While the Choir exists primarily to sing the daily services in King’s College Chapel, its international fame and reputation, enhanced by an extensive recording catalogue, since 2012 on their own label, has led to invitations to perform around the world.</p>
    <span>Read more</span>
    <article class="performances">
        <h4>Performances </h4>
        <span>Past</span>
        <ul>
            <li>19 June 2016, 10:30</li>
            <li>Aldeburgh Festival</li>
            <li>Aldeburgh Music</li>
            <li>Saxmundham, Suffolk, United Kingdom</li>
        </ul>
    </article>
    <article class="testimonials">
        <h4>testimonials</h4>
        <blockquote>
            <p>Not only is it beautifully sung and played but the recorded sound on the choir’s own label is remarkable… It is completely beautiful and, in its sheer scale and immediacy, has a different feel from the benchmark recording by the same choir under David Willcocks… The ‘Pie Jesu’ is as close to perfection as one could hope to hear…
                <strong><em>International Record Review,</em> November 2014</strong>
            </p>
        </blockquote>
        <blockquote>
            <p>I would happily sit in King’s College Chapel listening to this choir sing for the rest of my days</p>
            <strong><em>Times,</em>November 2003</strong>
        </blockquote>
        <blockquote>
            <p>...moments of iridescence… creating vividness in restraint through the unadorned splendour of this superbly polished vocal sound.</p>
            <strong><em>Sydney Morning Herald,</em>July 2014</strong>
        </blockquote>
    </article>
    <article class="links">
        <h4>Links</h4>
        <ul>
            <li><a href="">King's College Choir</a></li>
            <li><a href="">Stephen Cleobury</a></li>
            <li><a href="">King's College Choir</a></li>
            <li><a href="">King's College Choir</a></li>
            <li><a href="">Chapel Daily Music List</a></li>
            <li><a href="">King's College Choir</a></li>
            <li><a href="">King's College Choir</a></li>
        </ul>
        <div class="downloads" role="group">
            <h4>Downloads</h4>
            <button type="button">Biography</button>
            <button type="button">Stephen Cleobury biography</button>
        </div>
        <article class="profile_contact">
            <h4>Intermusica represents Choir of King's College, Cambridge worldwide</h4>
            <ul>
                <li>
                    <span>Kate Caro </span>
                    <span>Manager, Film &amp; Multimedia in Performance </span>
                    <span>+44 20 7608 9932 </span>
                    <span><a href="">kcaro@intermusica.co.uk</a></span>
                </li>
                <li>
                    <span>Erin McNamara</span>
                    <span>Senior Coordinator, International Touring</span>
                    <span>+44 20 7608 9944 </span>
                    <span>emcnamara@intermusica.co.uk</span>
                </li>
                <li>
                    <span>Kirsten Mackay</span>
                    <span>Coordinator, International Touring</span>
                    <span>+44 20 7608 9935 </span>
                    <span>kmackay@intermusica.co.uk</span>
                </li>
            </ul>
            <p>If you have any queries, please fill in the form below, and we will be in touch soon</p>
            <form action="get">
                <input type="text" placeholder="Name">
                <input type="email" placeholder="Email">
                <textarea placeholder="Message"></textarea>
                <button type="submit">Send Message</button>
            </form>
            <div class="all_artists">
                <h4>All artists</h4>
                <div>
                    <div class="all_composer">
                        <h5>Composer</h5>
                        <ul>
                            <li>
                                Brett Dean
                            </li>
                            <li>
                                Thierry Escaich
                            </li>
                            <li>
                                HK Gruber
                            </li>
                            <li>
                                Sir Peter
                            </li>
                            <li>
                                Maxwell Davies
                            </li>
                        </ul>
                    </div>
                    <div class="all_piano">
                        <h5>Piano</h5>
                        <ul>
                            <li>
                                Richard Egarr
                            </li>
                            <li>
                                Ingrid Fliter
                            </li>
                            <li>
                                Kirill Gerstein
                            </li>
                            <li>
                                Boris Giltburg
                            </li>
                            <li>
                                Richard Goode
                            </li>
                            <li>Andreas Haefliger</li>
                            <li>Denis Kozhukhin</li>
                            <li>Francesco Piemontesi</li>
                            <li>Louis Schwizgebel</li>
                            <li>Lahav Shani</li>
                            <li>Daniil Trifonov</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="social">
                <ul>
                    <li><a href="#">twitter</a></li>
                    <li><a href="#">facebook</a></li>
                    <li><a href="#">email</a></li>
                </ul>
            </div>
        </article>
    </article>
</article>
